.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.keyword-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.history-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
}

.select-menu {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.clear-keyword-button {
  background-color: #007BFF; 
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.clear-keyword-button:hover {
  background-color: #0069D9;
}

.history-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.history-item h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #007BFF;
}

.history-item p {
  margin-bottom: 0;
  color: #333;
  max-height: 300px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  line-height: 1.6em;
}

.history-item li {
  list-style: none;
}

.history-item a {
  text-decoration: none;
}

.history-item .history-keywords {
  color: #007BFF;
  font-weight: bold;
  margin-top: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.history-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.keyword {
  cursor: pointer;
}

.paginate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5em;
}

.paginate button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}