form {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

input[type="text"],
textarea {
  width: 100%;
  height: 15em;
  padding: 15px;
  font-size: 1.5rem;
  border: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  color: #4caf50;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 50px;
}

button {
  padding: 15px 25px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button.disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

p {
  margin: 0;
  text-align: left;
}

ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.progress-indicator {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  font-size: 14px;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.card-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  flex-grow: 1;
}

.card-title {
  color: #4caf50;
  font-size: 2rem;
  font-weight: 600;
}

.card-step {
  display: flex;
  align-items: center;
}

.hide-button {
  background-color: transparent;
  box-shadow: none;
  color: transparent;
  cursor: unset;
  width: 10rem;
  height: 6rem;
}

.hide-button:hover {
  background-color: transparent;
  box-shadow: none;
}

.step-button {
  background-color: transparent;
  box-shadow: none;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 6rem;
  text-align: center;
}

.step-button:hover {
  background-color: #ddd;
  box-shadow: none;
}

.generate-buttons {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.generate-button {
  width: fit-content;
  margin-top: 5px;
  font-weight: bold;
}

.card > label {
  margin-top: 0;
  margin-bottom: 2em;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #888;
  opacity: 1;
  font-size: 0.8em;
  font-style: italic;
}

.generated-content,
.generated-questions {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #4caf50;
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  .progress-indicator {
    margin-bottom: 5vw;
  }

  form {
    gap: 10px;
    width: 100%;
    max-width: fit-content;
    margin: auto;
    margin-top: 10vh;
  }

  input[type="text"],
  textarea {
    height: 10em;
    width: 50vw;
    font-size: 1rem;
  }

  .generated-content,
  .generated-questions {
    margin-top: 0;
  }

  .generated-content {
    grid-column: 1 / 3;
  }

  .generated-questions {
    grid-column: 1 / 2;
  }

  .step-button {
    width: 80px;
    font-size: 10px;
    font-weight: normal;
    padding: 0;
    margin-top: 10rem;
  }

  .hide-button {
    width: unset;
  }

  .card-steps {
    gap: 0px;
  }
}
