form {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

input[type="text"], textarea {
  width: 95%;
  height: 5em;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  color: #4CAF50;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 50px;
}


button {
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button.disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

p {
  margin: 0;
  text-align: left;
}

ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.progress-indicator {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  font-size: 14px;
  background-color: #4CAF50;
  transition: width 0.3s ease;
}

.card-steps {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-step {
  display: flex;
  align-items: center;
}

.card {
  width: 60%;  /* 限制輸入框的寬度，讓按鈕有足夠的空間 */
}

.step-button {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  margin-left: 10px;
  color: #333;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.step-button:hover {
  background-color: transparent;
  box-shadow: none;
}

.generate-buttons {
  display: flex;
  justify-content: center;
}

.generate-button {
  width: fit-content;
}


.card > label {
  margin-top: 0;
  margin-bottom: 2em;
  color: #fff;
}

.generated-content,
.generated-questions {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #4caf50;
}

